body {
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
}

h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 50px; 
    margin-left: 10px;
}

ul {
    text-decoration: underline;
    list-style-type: none;
    margin-left: 1100px;
    margin-top: 30px;
}
   
li {
    display: inline;
    justify-content: flex-end;
    margin-left: 10px;
    font-family: 'Roboto Flex', sans-serif;
}

.container {
    display: flex;
}

.background-mission {
    background-image: url(../images/img-mission-background.jpeg);
    height: 700px;
    width: 1200px;
    flex-direction: column;
    
}

h2,
h4 {
    margin: auto;
    font-family: 'Roboto Flex', sans-serif;
    background-color: black;
}

h2 {
    margin-bottom: 20px;
}

h4 {
    margin-top: 0;
}

img {
    height: 200px;
    width: 300px;
}

figcaption {
    font-family: 'Roboto Flex', sans-serif;
}

.tea-pic-headlines {
    flex-direction: column;
}

.background-locations {
    background-image: url(../images/img-locations-background.jpeg);
    height: 500px;
    width: 1200px;
}
