body {
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
}

h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 50px; 
    margin-left: 10px;
}

ul {
    text-decoration: underline;
    list-style-type: none;
    margin-left: 1100px;
    margin-top: 30px;
}
   
li {
    display: inline;
    justify-content: flex-end;
    margin-left: 10px;
    font-family: 'Roboto Flex', sans-serif;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
}

.background-mission {
    background-image: url(../images/img-mission-background.jpeg);
    height: 700px;
    width: 1200px;
    flex-direction: column;
    margin: auto;
}

h2,
h4 {
    margin: auto;
    font-family: 'Roboto Flex', sans-serif;
    background-color: black;
}

h2 {
    margin-bottom: 20px;
}

h4 {
    margin-top: 0;
}

img {
    height: 200px;
    width: 300px;
    
}

.pics {
    margin: auto;
}

figcaption {
    font-family: 'Roboto Flex', sans-serif;
    text-align: center;
}

.tea-pic-headlines {
    flex-direction: column;
}

.background-locations {
    background-image: url(../images/img-locations-background.jpeg);
    height: 500px;
    width: 1200px;
    margin: auto;
}

.loc-card {
    flex-direction: column;
    background-color: black;
    height: 250px;
    width: 250px;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}

.locations {
    text-align: center;
    margin-top: 40px;
}

.contact {
    flex-direction: column;
    margin: auto;
    text-align: center;
}